[submodule "zlib"]
	path = zlib
	url = git@git.boostpro.com:boost/zlib.git
[submodule "bzip2"]
	path = bzip2
	url = git@git.boostpro.com:boost/bzip2.git
[submodule "boost"]
	path = boost
	url = git@git.boostpro.com:boost/boost.git
